<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>























<!-- <h1>Simple Form Angular</h1>

<form>
    <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)" >            -->

 <!-- </form>#simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)"> --> 
<!-- <input type="text" ngModel name ="user" placeholder="enter user name">
<br><br>
<input type="text" ngModel name ="age" placeholder="enter user age">
<br><br>
<input type="text" ngModel name ="gender" placeholder="enter user gender">
<br><br>
<button>Get User login</button>

</form> --> 



