<!-- <p>signup works!</p> -->


<div class="container">
    <div class = "row">
        <div class="col-md-6">
            <div class = "card">
                <div class="text-center">
                  <h1>Prismatic Form</h1>
                    <h2>Signup</h2>
                    <h4>Register Yourself!!</h4>
                </div>
                


                <!-- <form > -->
    
                    <!-- <form >

                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Full Name</label>
                        <input  type="text" class="form-control" id="exampleInputPassword1">
                      </div>
                    
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                        <input  type="number" class="form-control" id="exampleInputPassword1">
                      </div>
                      
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input  type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    
                    <button type="submit" class="btn btn-primary mb-3">Signup</button>
                  </form>
                  <a style="color: yellowgreen; margin:10px;" routerLink="/login">Already Register? Click to Login!!</a>
             -->
            <!-- </form>  -->

                    <form [formGroup]="signupForm" >
    
                        <!-- <form > -->

                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Name </label> <br>
                            <input formControlName="fullname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Name">
                            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">*Full Name is required</span>
                          </div>     <br>         

                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile Number </label> <br>
                            <input formControlName="mobile" type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter Number">
                             <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">* Mobile Number is required</span> 
                          </div> <br>
                          
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label> <br>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" aria-describedby="emailHelp">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                              <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email is required</span>
                            </div> <br>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label> <br>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                           <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password is required</span> 
                        </div> <br>
                        
                        <button type="submit" class="btn btn-primary mb-2" [disabled]="!signupForm.valid" (click)="signup()">Signup</button>
                      <!-- </form> -->
                      <a style="color: rgb(238, 108, 22); margin:10px;"routerLink="/login">  <br>  
                         Already Register? Click to Login!!</a>
                
                </form> 
            </div>
        </div>

    </div>

</div>
