<!-- <p>dashboard works!</p> -->


<div>
    <h1>WELCOME</h1>
    <!-- <div class="form-head"> Prismatic Software Private Limited</div> -->
    <h1>Prismatic Software Private Limited</h1>
    <p>You can use the ::first-line pseudo-element to add a special effect to the first line of a text. Some more text. And even more, and more, and more, and more, and more, and more, and more, and more, and more, and more, and more, and more.</p>

<button (click)="save()">Store </button><br>

<div>
    <h1>{{ ssn }}</h1>
    <h1>{{ local }}</h1>
</div>
<button (click)="retrive()">Retrive </button><br>

<button (click)="remove()">Remove </button><br>


<button (click)="clearAll()">Clear </button><br>


    <button routerLink="/login" class="btn btn-danger mx-2" >
        Logout
    </button>
</div>


